html,body
{   
    overflow-x: hidden; 
}
.navbar{
    margin-top: -50px;
}

header a{
	color: white;
	text-decoration: none;
}

#title a:hover{
	color: white;
	text-decoration: none;
}
 #title{
    color: white;
    padding-left: 100px;
}
.logo2{
    position: absolute;
    right: 0%;
    top: 10%;
}
#myCarousel{
	max-width: 100%;
	border-top: 10px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 10px;
    border-color: black;
    border-style: solid;
}

#slide1, #slide2, #slide3{
	border-radius: 0px;
	width: 100%;
	height: 100%;
}
#hr1, #hr2{
	width: 80%;
}

#kiosk{
	border-radius: 15px;
	border-style: groove;
	margin-left: 80px;
	height: 500px;
	width: 320px;
	box-shadow: 0 4px 8px 0 rgba(0, 0.1, 0.1, 0.5);
}
#kiosk-h{
	width: 100%;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 20px;
	color: black;
}
#kiosk-p{
	width: 100%;
	height: 50%;
	text-align: center;
	margin-left: 20px;
	margin-top: 3%;
	font-size: 30px;
}
#support{
	width: 100%;
	height: 60px;
	text-align: center;
	padding-top: 0px;
	
}
#sup1, #sup2, #sup3, img{
	border-radius: 15px 50px;
}
.figure img:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0.3, 0.9, 1.0)	
}
#footer a{
	font-size: 20px;
	margin-left: 90%;
	font-weight: bold;
}
#princi img{
	border-radius: 15px 50px;
	width: 240px;
	height:180px	
	border-radius: 15px 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0.1, 0.1, 0.5)
}
#princi img:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0.1, 0.5, 0.9)	
}
.figure h3{
	text-align: center;
	margin-left: 0px;
	font-size: 23px; 
	font-weight: bold;
}
.figure h6, p{
	margin-top: -25px;
	text-align: center;
}
.figure img{
	width: 190px;
	height:180px;
	border-radius: 15px 50px;
	border-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0.1, 0.1, 0.5)
}

.figure p{
	margin-top: -25px;
	text-align: center;
	font-weight: bold;
}
#sup1, #sup2, #sup3, p{ 
	font-weight: bold;
	text-align: center;	
}
#sup1 img:hover{
	box-shadow: 0 2px 5px 5px #888888;
}
#sup2 img:hover{
	box-shadow: 0 2px 5px 5px #888888;
}

#sup3 img:hover{
	box-shadow: 0 2px 5px 5px #888888;
}

.figure-img{
	box-shadow: 0 4px 8px 0 rgba(0, 0.1, 0.6, 0.9)

}
#but{
	margin-top: -10%;
	width:100%; 
	height: 50px;
	margin-left: 20px;
}
#but p{
	padding-top: 25px;
	color: black;
	font-size: 20px;
	font-weight: bold;
}
#but:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-style: groove;
  border-radius: 50px;
}

#but a:hover{
	text-decoration: none;
	color: white;
}

.modal-dialog, .modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 180px);
    
}
.modal-title{
	font-weight: bold;
	color: black;
	font-size: 32px;
	text-decoration: underline;
}
h5:hover{
	 text-shadow: 2px 2px 8px #FF0000;
}
#modp{
	font-weight: bold;
	font-size: 30px;
	margin-left: -300px;
	margin-top: -1px;
}
#fbut1 {
	width: 40%;
}
#fbut1 a{
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
}
#fbut1 a:hover{
	text-decoration: none;
	color: black;
}
#fbut1 span{
	font-size: 2rem;
}
#modalimg{
	border: solid;
	border-radius: 0px;
	width: 100%;
	height: 100%;
}
